<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="com.hpnightowl.systemui"
    android:sharedUserId="android.uid.systemui">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE" />
    <uses-permission android:name="android.permission.STATUS_BAR" />

    <application
        android:name=".SystemUIApp"
        android:allowBackup="false"
        android:directBootAware="true"
        android:icon="@mipmap/ic_launcher"
        android:label="OwlUI"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Systemui">

        <service
            android:name=".service.SystemUIService"
            android:exported="true" />
    </application>
</manifest>